@import '../../styles/globals.scss';
@import '../../styles/theme.scss';

.InputDefault {
    background: $input-background;
    color: $input-color;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    height: 40px;
    font-family: $font-stack;
    box-sizing: border-box; 
}