@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display:none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    ::-webkit-scrollbar {
        width: 12px;
        
        /* design scrollbar later */
    }

    :root {
        scrollbar-width: thin;
        scrollbar-color: theme('colors.shade-2') theme('colors.shade-1');
    }

    ::-webkit-scrollbar-track {
        background: theme('colors.shade-2');
        margin: 5px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: theme('colors.shade-1');
        border-radius: 10px;
    }
    
}