.chatContainer { /* Note to self  the display doesnt actually feel fully when the user has a phone or a small display*/
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    min-height: 300px;
    min-width:600px;
}

.chat {
    height:100%;
    width: calc(100% - 250px);
    background: rgba(0,0,0,0.5);
}
.chatControl {
    height: 95px;
    width: 100%;
    /*background: #4E5166;*/
}
.userInput {
    width: calc(100% - 15px);
    height: calc( 75% - 15px);
    padding-top: 15px;/* Note to self: this used to be position:relative but was changed to this in order to render behind the no chat selected element*/
    padding-left: 15px;
    /*display:inline-block;*/
}

.userInput > textarea {
    width: calc(100% - 115px);
    border: none;
    outline: none;
    height: 100%;
    border-radius: 5px;
    padding: 1px 5px;
    margin-right: 15px;
    font-weight: bold;
    text-align:left;
    resize: none;
    vertical-align: bottom;
    /*background: #AEC3B0;*/
    font-size: 16px;
}

.userInput > input[type="button"] { /* the send button*/
    border: none;
    outline: none;
    /*background: #598392;
    color:white;*/
    font-weight: 700;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    margin-right: 15px;
    transition: 0.5s;
    margin-bottom: 7.5px;
}

.userInput input[type="button"]:hover, .menuOption:hover, .guildContainer:not(.active):hover > .guildOption {
    filter: brightness(85%);
}

.userInput input[type="button"]:active, .menuOption:active, .guildContainer:not(.active):active > .guildOption {
    filter: brightness(50%);
    transition: 0s;
}

.menuUserContainer{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex-grow: 0;
}

.userModal {
    width: 100%;
    height: 75px;
    /*background: #4E5166;*/
    display: flex;
}

.userModalProfile {
    height: 100%;
    width: 70px;
}

.userModalUsername {
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
}

.userModalUsername > p {
    text-align: center;
    /*color: white;*/
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
    user-select: none;
}

.userModalUsername > div {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userModalUsername > div > input[type="button"] {
    width: 65px;
    height: 22.5px;
    margin: 5px 5px;
    /*background: #598392;*/
    border: none;
    border-radius: 5px;
    /*color: white;*/
    font-weight: 600;
    transition: 0.5s;
}

.userModalUsername > div > input[type="button"]:hover {
    filter: brightness(85%);
/*    background: #124559;*/
}

.userModalUsername > div > input[type="button"]:active {
    filter: brightness(50%);
    /*    background: #124559;*/
}

.userModalProfile > img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.menu {
    width: 100%;
    height: calc(100% - 75px);
    /*background: #474A48;*/
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menuOption{
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    /*background: #598392;*/
    border-radius: 15px;
    width: calc(100% - 20px);
    transition: 0.5s;
}

.menuOption:first-child {
    margin: 10px !important;
}

.menuOption {
    margin-left: 10px;
    margin-bottom: 10px;
}

.menuOption, .guildContainer {
    font-weight: 500;
    /*color:white;*/
}

.unreadGuild {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: white;
}

.guildContainer {
    /*flex-shrink: 0;*/
    height: 75px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    position: relative;
}

.guildContainer:not(.active):hover  img{
    opacity: 0.5;
}

.guildContainer > img {
    height: 75px;
    width: 35%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s;
    user-select: none;
}

.guildOption {
    width: 65%;
    height: 75px;
    /*background: #598392;*/
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 0.5s;
}

.guildContainer.active > .guildOption {
    background: transparent;
    border: 2px solid;
    transition: 0s border;
}



.guildOption > p {
    text-align:center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.menuOption > p, .guildOption > p{
    text-align: center;
    top: 50%;
    position:relative;
    transform: translate(0,-50%);
    margin: 0;
    user-select: none;
}

.chatTopMenu {
    width: 100%;
    height: 50px;
    /*background: #598392;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
}

.topMenuServerName {
    /*color: white;*/
    font-size: 18px;
    user-select: none;
}

.topMenuServerButton {
    margin-left: auto;
    width: 225px;
}

.topMenuServerButton > input[type='button'] {
    width: 100px;
    height: 25px;
    margin-left: 10px;
    transition: 0.5s;
    font-weight: 700;
    /*background: white;*/
    /*color: black;*/
    border: none;
    border-radius: 5px;
}

.topMenuServerButton > input[type='button']:hover {
    filter: brightness(85%);
}

.topMenuServerButton > input[type='button']:active {
    filter: brightness(50%);
    transition: 0.1s filter;
}

.chatContentBundle, .chatContent { /* seperate due to new messages notifications */
    display:flex;
    flex-direction: column;
    /*background:#666370;*/
    height: 100%;
    overflow: auto; /* overflow-y changed to overflow to fix sticky bug*/
    transition: width 1s;
    flex-shrink: 1;
    flex-grow: 1;
}

.chatContent {
    flex-direction: column-reverse;
}

.chatContentBundle {
    position: relative; /* cannot be static because absolute only aligns with other than static which is the default for position*/
}

.chatContentContainer {
    width: 100%;
    height: calc(100% - 95px - 50px);
    display: flex;
    flex: 0 0;
    overflow-x: hidden;
    
}

.msg:not(.hideUserTime) {
    position: relative;
    display:block;
    padding: 15px 75px 0px 20px;
}

.msg > img {
    border-radius: 5px;
    user-select: none;
}

.msg.hideUserTime {
    margin: 0px;
    padding-left: 75px;
    padding-bottom: 5px;
    padding-right: 75px;
    position: relative !important;
}

.msgEdited {
    font-size: 12px;
}

.msgSentLoading {
    filter: brightness(85%);
}

/*
.msgSentFail {
    color: red !important;
}
*/

.msg:hover {
    background: rgba(0,0,0,0.25);
}

.msg:hover > *:not(.msgButtons) {
    filter: brightness(85%);
}

.msgButtons {
    display:flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    right: 0.5%;
    top: 5%;
    transition: 0.5s opacity;
    border-radius: 10px;
    overflow: hidden;

}

.msg:not(.hideUserTime) > .msgButtons {
    margin-top: 35px;
}

.msgButtonChild {
    border-radius: 0px;
    border: black 2px;
    padding: 5px 20px;
    /*color: white;*/
    font-weight: 600;
}

.msgButtonChild:hover {
    filter: brightness(85%);
}

.msgButtonChild:active {
    filter: brightness(50%);
}

.msg:not(:hover) > .msgButtons {
    opacity: 0;
    pointer-events: none;
}

.msg:hover > .msgButtons {
    opacity: 1;
    pointer-events: all;
} 

.endMsgDiv {
    padding-top: 15px;
}

.startMsgDiv {
    text-align: center;
    /*color: white;*/
    font-weight: 600;
    font-size: 1.5em;
    padding: 15px 0px;
}

.msg > p {
    position: relative;
    margin-top: -20px;
    margin-left: 55px;
    margin-bottom: 5px;
    font-weight:500;
    font-size: 14px;
    /*color:white;*/
    word-wrap: break-word;
    line-height: 25px;
}

.msgNewLine {
    content : " ";
    margin: 5px 0;
    display: block;
}

.msg > p.hideUserTime, .msg > textarea.hideUserTime {
    margin: 0px;
    position: relative !important;
}

.msg > textarea.hideUserTime {
    margin-top: 10px;
    width: calc(100% - 50px) !important;
}

.msg > textarea {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1px 5px;
    font-weight: bold;
    text-align:left;
    resize: none;
    vertical-align: bottom;
    /*background: #AEC3B0;*/
    font-size: 16px;
    line-height: 25px;
    width: calc(100% - 100px);
    margin-left: 55px;
    margin-top: -15px;
}

.msgEditButtons {
    display: block;
    margin-left: 55px;
    font-size: 12px;
    /*color: white;*/
    user-select: none;
}

.hideUserTime.msgEditButtons {
    margin: 0;
}

.msgEditCancel, .msgEditSave {
    /*color: #0096FF;*/
    cursor: pointer;
    font-weight: 700;
}

.msgEditCancel:hover , .msgEditSave:hover {
    text-decoration: underline;
}

.msgUserTime {
    vertical-align: top;
    top: 0%;
    margin-left: 15px;
    position: relative;
    /*color: #9FB1BC;*/
}

.msgUserTime > span {
    font-size : 10px;
    /*color: #91aebe;*/
}

.addChatOptions {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    /*background: rgba(0,0,0,0.5);*/
    flex-grow: 1;

}

.addChatOptions > p {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    flex: 0 1;
}

.chatOptionsContainer, .chatCreateContainer, .chatJoinContainer {
    display: flex;
}

.chatOptionsContainer {
    flex: 1 0;
    padding: 25px 15px;
} 

.chatOptionsContainer > button {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 10px 5px ;
    justify-content: center;
    transition: 0.25s;
    /*background: #3F88C5;*/
    border-radius: 20px;
    /*color:white;*/
}

.chatOptionsContainer > button:hover {
    /*background: #0F7173;*/
    filter: brightness(85%);
}

.chatOptionsContainer > button:active {
    /*
    transition: 0s;
    background: #272932;
    */
    filter: brightness(50%);
}

/*
.chatOptionsContainer > button > img {
    width: 125px;
    height: 50px;
    flex: 1 0;
    border-radius: 5px;
    margin: 2px;
    align-self: center;
}
*/

.chatOptionsContainer > button > label {
    font-size: 25px;
    left: 15px;
    flex: 0 0;
    align-self: center;
}

.hidden {
    opacity: 0.0;
    transition: 0.25s;
    pointer-events: none;
    visibility: hidden;
}

.chatCreateContainer.hidden, .chatJoinContainer.hidden, .chatOptionsContainer.hidden {
    display: none;
}

.chatCreateContainer {
    flex: 1 0;
    flex-direction: row;
}

.chatCreateContainer > .createInformation, .chatCreateContainer > .createAppearance {
    width: 50%;
    height: 100%;
}

.createInfoOption {
    display: flex;
    height: 40px;
    width: 100%;    
}

.createInfoOption > label {
    font-size: 14px;
    margin: 12px 7.5px;
    text-align: center;
    flex-basis: 25px;
    flex: 1 0 ;
    font-weight: 600;
}

div[id='serverNameInput'] {
    left: 52.5%;
}

div[id='serverNameInput'] > input {
    width: 200px;
}

.createInfoOption > *:not(label) {
    align-self: center;
    flex: 1 0;
    margin: 0px;
}

.createAppearance {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.createInfoOption[id='changeProfile'] {
    flex-basis: 75px;
    padding: 45px;
}
/*
.changeProfile > input[type='file'] {
    display: none;
}

.changeProfile > img {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}
*/

.chatJoinContainer > input[type='button'] {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
    justify-self: center;
    width: 50px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 2.5px;
}



div[id='inviteInput'] {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div[id='Input'] {
    position: relative;
}


div[id='serverNameInput'] > input:focus ~ label, div[id='serverNameInput'] > input:not(:placeholder-shown) ~ label, div[id='inviteInput']  > input:focus ~ label, div[id='inviteInput'] > input:not(:placeholder-shown) ~ label,
div[id='serverNameInput'] > input ~ label ~ label, div[id='serverNameInput'] > input ~ label ~ label, div[id='inviteInput']  > input ~ label ~ label, div[id='inviteInput'] > input ~ label ~ label {
    color: white !important;
    text-shadow: 2px 2px 5px black;
} /* brah long ass code*/



input[type='button'][id='publicServerOption'] {
    margin-top: 85px;
}

.serverOptionsContainer > p {
    font-size: 22px;
}

.serverOptionsContainer > .serverOptions {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}

.serverOptionsContainer > .serverOptions > .createInviteOption,.serverOptionsContainer > .serverOptions > .serverButtonsOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.serverOptionsContainer > .serverOptions > .createInviteOption > div {
width: 100%;
}

.serverOptionsContainer > .serverOptions > .createInviteOption > div > p {
    text-align: left;
    margin: 15px;
}

input[id='createInviteButton'] {
    width: 100px;
    height: 25px;
}

input[id='createChatButton'] {
    height: 25px;
    transition: 0.5s;
    margin: auto;
    flex-basis: 250px;
    width: 100px;
    flex: 0 0 auto;
}

.chatUserList {
    width: 250px;
    overflow: auto;
}

.chatUserList, .chatUserListHidden {
    /*background: #474A48;*/
    box-sizing: border-box;
    height: 100%;
    /*transition: width 0.25s;*/
    flex-shrink:0;
}

.chatUserListHidden {
    width: 0px;
    overflow: hidden;
}

.userListChild {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    margin: 10px;
}

.userListChild > img {
    border-radius: 10px;
}
.userListChild > p {
    margin: 0px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*color: white;*/
}

.serverMiniOptions {
    max-height: 150px;
}

.serverMiniOptions, .serverMiniOptionsHidden {
    position: absolute;
    width: 250px;
    /*background: #9BC1BC;*/
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    /*transition: 0.25s;*/
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.serverMiniOptionsHidden {
    max-height: 0px;
}

input[id='leaveServerButton'], input[id='serverSettingsButton'],input[id='createInviteButton'] {
    width: 125px;
    height: 25px;
    margin: 12.5px 62.5px;
    flex-shrink: 0; /* fixed weird button squishing bug*/
}

input[id='leaveServerButton'] {
    /*background: #DF2935 !important;*/
    outline: none;
    /*transition: background 0.5s;*/
}

input[id='leaveServerButton']:hover {
    /*background: #87161e !important;*/
    /*color: white !important;*/
    /*border: #DF2935 2px solid;*/
    filter: brightness(75%);
}

input[id='leaveServerButton']:active { /* for some reason active only works after hover*/
    filter: brightness(50%);
}

.inviteContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inviteBox {
    width: 250px;
}

.inviteBox > input {
    outline: none;
    border: none;
    display: block;
    margin: 2px auto;
    border-bottom: black 2px solid;
    padding-bottom: 5px;
    border-radius : 2.5px;
    font-size: 16px;
    font-weight: 600;
}

.inviteBoxError {
    /*color: red;*/
    font-size: 0.75em;
    text-align:left;
}

.inviteBoxInviteCopiedMsg {
    /*color: gray;*/
    text-align: left;
    font-size: 0.75em;
}

.inviteBoxError:not(:empty)::before {
    content: "⚠️ ";
}

.inviteButtons { /* If ur reading this. This probably isnt a good fix*/
    width: 135px;
}

.genInviteButton {
    width: 100px;
    height: 25px;
    margin: 2.5px 0px;
}

.chatNoSelected:not(.chat) {
    position:absolute;
    width: calc(100% - 250px);
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatNoSelected:not(.chat) > p {
    /*color: white;*/
    font-size: 2em;
}

.chatNoSelected.chat {
    pointer-events: none;
}

@keyframes loadingScreen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.panicWebsite, .loadingScreen  {
    position: absolute;
    width: 100%;
    height: 100%;
}

.panicWebsite {
    border: none;
}

.loadingScreen {
    /*background: #2B2D42;*/
    /*color: white;*/
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loadingScreen 1s;
    animation-fill-mode: forwards;
}

.noMessages, .endOfMessages {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding-left: 15px;
    padding-bottom: 10px;
}

.msg ~ .endOfMessages {
    padding-bottom: 0px;
}

.endOfMessages {
    padding-top: 15px;
}

.unreadMsgs {
    min-height: 25px;
    position: sticky  ; /* relative to chatContentContainer*/
    /*right: 15px;
    left: 15px;*/
    margin-left: 15px;
    margin-right: 15px;
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 25px;
    font-size: 14px;
    line-height: 22.5px;
}

.unreadMsgs > input[type='button'] {
    margin-left: 50px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.unreadMsgs > input[type='button']:hover {
    filter: brightness(75%);
}

.unreadMsgs > input[type='button']:active {
    filter: brightness(50%);
}

.newMsgRow {
    border-bottom: solid white 1px;
    font-size: 14px;
    padding-left: 15px;
}