.chat-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}
.chat {
    position: absolute;
    width: 75vmax;
    height: 100vh;
    left: 100%;
    transform: translateX(-100%);
    background: rgba(0,0,0,0.5);
}

.menu {
    position: absolute;
    width: 25vmax;
    height: 100vh;
    left: 0%;
    background: blue;
}

.chat-content {
    display: flex;
    flex-direction: column;
    background:green;
    width: 100%;
    height: 85%;
}
.msg {
    margin: 15px 35px;
}