.chat-container { /* Note to self the display doesnt actually feel fully when the user has a phone or a small display*/
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    min-height: 300px;
    min-width:500px;
}

@keyframes changePage {
    0%, 25% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
        pointer-events: none;
    }
}

.pageChange {
    animation: changePage 1s;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    background: #2B2D42;
    position: absolute;
    left: 0%;
    top: 0%;
}

.chat {
    height:100%;
    width: calc(100% - 250px);
    background: rgba(0,0,0,0.5);
}
.chat-control {
    height: 95px;
    width: 100%;
    background: #8896AB;
}
.user-input {
    position:relative;
    width: calc(100% - 15px);
    height: calc( 75% - 15px);
    left: 15px;
    top: 15px;
    display:inline-block;
}

.user-input textarea {
    width: calc(100% - 115px);
    border: none;
    outline: none;
    height: 100%;
    border-radius: 5px;
    padding: 1px 5px;
    margin-right: 15px;
    font-weight: bold;
    text-align:left;
    resize: none;
    vertical-align: bottom;
    background: #AEC3B0;
    font-size: 16px;
}

.user-input input[type="button"] {
    border: none;
    outline: none;
    background: #598392;
    color:white;
    font-weight: 700;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    margin-right: 15px;
    transition: 1s;
    margin-bottom: 7.5px;
}

.user-input input[type="button"]:hover, .menu-option:hover, .guild-container:hover > .guild-option {
    background: #124559;
}

.menu-user-container{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex-grow: 0;
}

.user-modal {
    width: 100%;
    height: 75px;
    background: #4E5166;
    display: flex;
}

.user-modal-profile {
    height: 100%;
    width: 70px;
}

.user-modal-username {
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
}

.user-modal-username > p {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
}

.user-modal-username > div {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-modal-username > div > input[type="button"] {
    width: 65px;
    height: 22.5px;
    margin: 5px 5px;
    background: #598392;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.user-modal-username > div > input[type="button"]:hover {
    background: #124559;
}

.user-modal-profile > img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.menu {
    width: 100%;
    height: calc(100% - 75px);
    background: #474A48;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu-option{
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    background: #598392;
    border-radius: 15px;
    width: calc(100% - 20px);
    transition: 0.5s;
}

.menu-option:first-child {
    margin: 10px !important;
}

.menu-option {
    margin-left: 10px;
    margin-bottom: 10px;
}

.menu-option, .guild-container {
    font-weight: 500;
    color:white;
}

.guild-container {
    /*flex-shrink: 0;*/
    height: 75px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.guild-container:hover > img{
    opacity: 0.5;
}

.guild-container img {
    height: 75px;
    width: 35%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s;
    user-select: none;
}

.guild-option {
    width: 65%;
    height: 75px;
    background: #598392;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 0.5s;
}

.guild-option p {
    text-align:center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.menu-option p, .guild-option p{
    text-align: center;
    top: 50%;
    position:relative;
    transform: translate(0,-50%);
    margin: 0;
    user-select: none;
}

/* Change this later */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #488286;
    border-radius: 5px;
    transition: 1s;
}

::-webkit-scrollbar-track {
    background: #373E40;
}
.chat-content {
    display:flex;
    flex-direction: column;
    background:#666370;
    width: 100%;
    height: calc(100% - 95px);
    overflow-y: auto;
}
.msg {
    position: relative;
    display:block;
    margin: 15px 20px 0px;
}
.msg p, .msg img {
    display: inline-block;
}

.msg img {
    border-radius: 5px;
    user-select: none;
}

.msg p {
    margin-left: 15px;
    position: absolute;
    font-weight:500;
    color:white;
    top: 15%;
    transform: translateY(-15%);
    word-wrap: break-word;
}

.msg label {
    vertical-align: top;
    top: 0%;
    margin-left: 15px;
    position: absolute;
    color: #9FB1BC;
    font-weight: bolder;
}

.add-chat-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    /*background: rgba(0,0,0,0.5);*/
    flex-grow: 1;

}

.add-chat-options > p {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    flex: 0 1;
}

.chat-options-container, .chat-create-container, .chat-join-container {
    display: flex;
    transition: 0.25;
}

.chat-options-container {
    flex: 1 0;
    padding: 25px 15px;
} 

.chat-options-container > button {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0px 2px;
    justify-content: center;
    transition: 0.25s;
    background: gold;
}

.chat-options-container > button:hover {
    background: blue;
}

.chat-options-container > button:active {
    transition: 0s;
    background: yellow;
}

.chat-options-container > button > img {
    width: 125px;
    height: 50px;
    flex: 1 0;
    border-radius: 5px;
    margin: 2px;
    align-self: center;
}

.chat-options-container > button > label {
    font-size: 25px;
    left: 15px;
    flex: 0 0;
    align-self: center;
}

.hidden {
    opacity: 0.0;
    transition: 0.25s;
}

.chat-create-container.hidden, .chat-join-container.hidden, .chat-options-container.hidden {
    display: none;
}

.chat-create-container {
    flex: 1 0;
    flex-direction: row;
}

.chat-create-container > .create-information, .chat-create-container > .create-appearance {
    background: red;
    width: 50%;
    height: 100%;
}

.create-info-option {
    margin: 0px 25px;
    display: flex;
    height: 40px;
}

.create-info-option > label {
    font-size: 12px;
    margin: 12px 7.5px;
    text-align: center;
    flex-basis: 25px;
    flex: 1 0 ;
}

.create-info-option > input[type='text'] {
    width: 100px;
    height: 25px;
}

.create-info-option > *:not(label) {
    align-self: center;
    flex: 1 0;
    margin: 0px;
}

.create-appearance {
    background: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-info-option#change-profile {
    flex-basis: 75px;
    padding: 45px;
}

.change-profile > input[type='file'] {
    display: none;
}

.change-profile > img {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}

.chat-join-container > input[type='button'] {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
    justify-self: center;
    width: 50px;
    height: 25px;
    outline: none;
    border: none;
    background: #6096BA;
    color: white;
    border-radius: 2.5px;
    transition: 1s;
}

#server-name input[type='text'], .chat-join-container > input[type='button']

.chat-join-container > input[type='button']:hover {
    background: #4AB7FF;
    color: black;
}

.chat-join-container > input[type='text'] {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    width: 150px;
    height: 25px;
    background: rgba(0,0,0,0.6);
    box-shadow: 1px 1px 30px black;
    color: white;
    border: none;
    border-bottom: 1.5px solid black;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
}