.gamesContainer, .inGameContainer {   
    position: fixed;
    display: flex;
    overflow: auto;
}

.gamesContainer {
    background: green;
    width: 100vw;
    height: 100vh;
}

.inGameContainer {
    width: 100vw;
    height: 100vh;
}

.gamesAndInfo {
    margin-left: calc((100vw - 35vw) / 2);
    margin-top: calc((100vh - 75vh) / 4 );
    margin-right: 50px;
}

.gamesSelector {
    width: 35vw;
    height: 75vh;
    min-width: 300px;
    min-height: 450px;
    background: red;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: black solid 5px;
}

.gamesOption {
    border: blue solid;
    width: calc(100% - 60px);
    margin-left: 25px;
    margin-top: 15px;
    padding: 5px;
    background: green;
    border-radius: 5px;
}

.gamesOption:hover {
    background: yellow;
}

.gamesExitHelp {
    max-width: 35vw;
    font-size: 0.85em;   
}

.hoverMouseArea > div {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s opacity;
    right: 15px;
}

.hoverMouseArea {
    position: absolute;
    right: 0%;
    width: 50px;
    height: 100vh;
}

.hoverMouseArea:hover > div {
    visibility: visible;
    opacity: 1;
    transition: 0.25s opacity;
}