@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Open+Sans:wght@700&display=swap');

.modal-container, .menu-container{
    left:0%;
    top:0%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    font-weight: 'IBM Plex Sans';
    min-width: 500px;
}

.menu-container {
    background: white;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    overflow-x: auto;
}

.modal-container {
    background: rgba(0,0,0,0.25);
    transition: 1s;
}

.modal, .modal-container.hidden > div[class='hidden'] {
 left: 50%;
 top: 50%;
 /*
 width: 350px;
 height: 150px;
 */
 transform: translate(-50%, -50%);
 background: #FEFFFE;
 border-radius: 25px;
 position: absolute;
 box-shadow: 5px 4px 25px 5px; 
}

.modal-container.hidden > div[class='hidden'],.modal-container.hidden > div[class='hidden'] > *{
    width: 0px !important;
    height: 0px !important;
    font-size: 0px;
    transition: 1s !important;
}

.menu-container.hidden {
    transition: 0.5s;
    opacity: 0.0;
}

.modal{
    animation: coolmove 1s;
    transition: height 1s;
}
/*
#menu {
    width: 750px;
    height: 500px;
}
*/

@keyframes coolmove {
    from {
        left: 50%;
        top: 0%;
        transform: translate(-50%,0%);
    }
    to {
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.modal-container.hidden {
    opacity: 0.0;
    left: 0%;
    top: 0%;
    pointer-events: none;
    position: absolute;
    transition: 1s;
    width: 100%;
    height: 100%;
}

.content {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -0%);
    position: absolute;
    overflow: hidden;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 22px;
    opacity: 1.0 !important;
}

.content.hidden {
    top: 50%; /* ass crack code*/
    transform: translate(-50%, -50%);
    opacity: 0.0 !important;
    transition: 0.5s !important;
}


input[type="button"] ~ .content {   
    height: calc(100% - 25px - 15%);
    width: 100%;
    text-align: center;
}

.modal>input[type="button"], .hidden>input[type="button"] {
    left: 50%;
    top: 85%;
    position: absolute;
    transform: translate(-50%, -75%);
    background: #6096BA;
    color: white;
    border: none;
    font-weight: bold;
    width: 100px;
    height: 25px;
    border-radius: 2px;
    transition: 0.5s;
}

.modal>input[type="button"]:hover {
    background: #4AB7FF;
    color: black;
}

.options-menu {
    background: blue;
    width: 350px;
    padding-left: calc(25% - 350px);
    height: 100%;
    display:flex;
    flex-direction: column;
    flex: 1;

}
.option-heading {
    font-weight: bold;
    border-bottom: 2px solid white;
    padding: 0;
}

.option-heading p {
    margin:0;
}

.option-heading:first-child {
    margin-top: 10px !important;
}

.option-heading, .option-button {
    text-align:center;
    color:white;
    width: 120px;
    margin-left: calc(100% - 350px + 210px); /*  I hate math 90px of margin basically */
    height: 35px;
    flex-shrink: 0;

}


.option-heading ,.option-button {
    margin-bottom: 10px;
}

.option-button > input {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}

.option-button.active > input{
    background: blueviolet;
}

.options-container {
    flex: 2;
    background: red;
    width: 650px; /* unsure why it overwraps the options menu check later temp fix */
    padding-right: calc(75% - 650px);
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    position: relative;
}

.options {
    width: 600px;
    height: 100%;
    overflow: auto;
    flex-shrink:0;
}

.options > div {
    overflow: clip;
    opacity: 0.0;
    transition: 1s;
}

.exit-button {
    padding-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35px;  
}

.exit-button > label {
    margin-left: 6.5px;
    margin-top: 1px;
    font-weight: bolder;
    font-size: 12px !important;
    color: white !important;
}

.exit-button > input {
    border-radius: 25px;
    width: 35px;
    height: 35px;
    transition: 0.5s;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
}


.exit-button > input:hover {
    background: gray;
    transition: 0.5s;
}

.profile-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.profile-container {
    position: relative;
    display:flex;
    flex-direction: row;
    border: black solid 5px;
    border-radius: 15px;
    margin: 15px 50px;
    gap: 15px;
    padding: 30px;
    background: yellow;
}

.profile-container > img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

.profile-container > .profile-settings-information {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 100px - 15px);
    background: gray;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    padding: 5px;
    margin-top: -5px;
}

.profile-details {
    margin-left: 15px;
    margin-top: 5.5px;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.profile-details > div > p {
    margin: 0px;
    margin-left: 15px;
    color: white;
    display:inline;
}

.profile-details > label {
    font-weight: bold;
    margin-top: 10px;
    padding: 0px;
}

.profile-details > div > input {
    display: inline;
    margin-left: 50px;
    float:right;
    margin-right: 10px;
    background: silver;
    outline: none;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    border: none;
    transition: 0.25s;
    /*
    position: absolute;
    right: 40%;
    transform: translateX(40%);
    */
}

.profile-details > div > input:active {
    background: white;
}   

input[type='button']#logout {
    background: rgba(255,0,0,0.25);
    border: 2px solid red;
}

input[type='button']#logout:hover {
    background: red;
}

.option-box {
    border-top: 2px solid black;
    margin: 5px 50px;
    display: flex;
    flex-direction:column;
}

.option-box > div {
    width: 100%;
    margin: 10px 5px;
    align-items: center;
}

.option-box > div > label {
    margin-left: 25px;
}

.checkBox {
    float: right;
    margin-right: 25px;
}

.checkBox > input[type='checkbox'] {
    opacity: 0; /* temp fix I hate css I want to die*/
    position: absolute;
    width: 45px;
    height: 20px;
    cursor: pointer;
}

.checkBox > div {
    margin-left: 5px;
    width: 45px;
    height: 20px;
    background: gray;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    pointer-events: none;
    vertical-align: middle;
}

.checkBox > input[type='checkbox']:disabled ~ div::after {
    background:rgba(255,0,0,0.5);
} 

.checkBox > input[type='checkbox']:disabled ~ div {
    background: rgba(0,0,0,0.25);
}

.checkBox > div::after {
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    line-height: 0;
    content: "";
    border-radius: 25px;
    top: 2.5px;
    left: 2.5px;
    transition: 0.5s;
    pointer-events: none;
}

.checkBox > input[type='checkbox']:checked + div::after {
    transform: translateX(25px);
    background: green;
}

@keyframes coolthing {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.appearance-settings {
    display: flex;
}

.appearance-settings, .profile-settings {
    opacity: 1.0 !important;
    transition: 1s;
}

.appearance-settings > p {
    text-align: center;
    margin: 250px;
    font-size: 32px;
    font-weight: bolder;
}

.option-title {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 25px;
}

#passwordChange > input[type='button'] {
     float: right;
    margin-right: 25px;
    border:none;
    background: green;
    border-radius: 5px;
    height: 25px;
    color: white;
    font-weight: bold;
    transition: 0.1s;
}

#passwordChange > input[type='button']:active {
    background: gray;
}
