.modalContainer, .menuContainer{
    left:0%;
    top:0%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    min-width: 500px;
}

.hidden {
    pointer-events: none;
}

.menuContainer {
    background: white;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    overflow-x: auto;
}

.modalContainer {
    background: rgba(0,0,0,0.25);
    transition: 1s;
}

.modal, .modalContainer.hidden > .hidden {
 left: 50%;
 top: 50%;
 /*
 width: 350px;
 height: 150px;
 */
 transform: translate(-50%, -50%);
 background: #FEFFFE;
 border-radius: 25px;
 position: absolute;
 box-shadow: 5px 4px 25px 5px; 
}

.modalContainer.hidden > .hidden , .modalContainer.hidden > .hidden > *, .modalContainer.hidden > .hidden> .buttons > input[type='button'] {
    width: 0px !important;
    height: 0px !important;
    font-size: 0px;
    transition: 1s !important;
}

.modalContainer.hidden > .hidden> .buttons > input[type='button'] {
margin: 5px;
}

.menuContainer.hidden {
    transition: 0.5s;
    opacity: 0.0;
    width: 0px;
    height: 0px;
}

.modal {
    animation: coolmove 1s;
    transition: height 1s;
}
/*
#menu {
    width: 750px;
    height: 500px;
}
*/

@keyframes coolmove {
    from {
        left: 50%;
        top: 0%;
        transform: translate(-50%,0%);
    }
    to {
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.modalContainer.hidden {
    opacity: 0.0;
    left: 0%;
    top: 0%;
    pointer-events: none;
    position: absolute;
    transition: 1s;
    width: 100%;
    height: 100%;
}

.content {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -0%);
    position: absolute;
    overflow: hidden;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 1.0 !important;
}

.content.hidden {
    top: 50%; /* ass crack code*/
    transform: translate(-50%, -50%);
    opacity: 0.0 !important;
    transition: 0.5s !important;
}

.modal > .buttons ~ .content {   
    height: calc(100% - 45px - 15%);
    width: 100%;
    text-align: center;
}

.modal > .buttons{
    width: 100%;
    height: 45px;

}

.modal > .buttons, .hidden > .buttons {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    align-items: center;
}

.modal> .buttons > input[type="button"], .hidden > .buttons >input[type="button"] {
    background: #6096BA;
    color: white;
    border: none;
    font-weight: bold;
    width: 10em;
    height: 25px;
    border-radius: 2px;
    transition: 0.5s;
}

.buttons>input[type="button"]:hover {
    background: #4AB7FF;
    color: black;
}

.optionsMenu {
    background: #37505C;
    width: 350px;
    padding-left: calc(25% - 350px);
    height: 100%;
    display:flex;
    flex-direction: column;
    flex: 1;

}
.optionHeading {
    font-weight: bold;
    border-bottom: 2px solid white;
    padding: 0;
}

.optionHeading p {
    margin:0;
}

.optionHeading:first-child {
    margin-top: 10px !important;
}

.optionHeading, .optionButton {
    text-align:center;
    color:white;
    width: 120px;
    margin-left: calc(100% - 350px + 210px); /*  I hate math 90px of margin basically */
    height: 35px;
    flex-shrink: 0;

}


.optionHeading ,.optionButton {
    margin-bottom: 10px;
}

.optionButton > input {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}

.optionButton.active > input{
    background: blueviolet;
}

.optionsContainer {
    flex: 2;
    background: #4F5D75;
    width: 650px; /* unsure why it overwraps the options menu check later temp fix */
    padding-right: calc(75% - 650px);
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    position: relative;
}

.options {
    width: 600px;
    height: 100%;
    overflow: auto;
    flex-shrink:0;
}

.options > div {
    overflow: clip;
    opacity: 0.0;
    transition: 1s;
}

.exitButton {
    padding-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35px;
    background: none;
}

.exitButton > label {
    margin-left: 6.5px;
    margin-top: 1px;
    font-weight: bolder;
    font-size: 12px !important;
    color: white !important;
}

.exitButton > input {
    border-radius: 25px !important;
    border: solid 2px black !important;
    width: 35px;
    height: 35px;
    transition: 0.5s;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    padding: 0px;
}


.exitButton > input:hover {
    background: gray;
    transition: 0.5s;
}

.profileSettings {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.profileContainer {
    position: relative;
    display:flex;
    flex-direction: row;
    border: black solid 5px;
    border-radius: 15px;
    margin: 15px 50px;
    gap: 15px;
    padding: 30px;
    background: yellow;
}

.profileContainer > img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

.profileContainer > .profileSettingsInformation {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 100px - 15px);
    background: #A0AAB2;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    padding: 5px;
    margin-top: -5px;
}

.profileDetails {
    margin-left: 15px;
    margin-top: 5.5px;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.profileDetails > div > p {
    margin: 0px;
    margin-left: 15px;
    color: white;
    display:inline;
}

.profileDetails > label {
    font-weight: bold;
    margin-top: 10px;
    padding: 0px;
}

.profileDetails > div > input {
    display: inline;
    margin-left: 50px;
    float:right;
    margin-right: 10px;
    outline: none;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    border: none;
    transition: 0.25s;
    /*
    position: absolute;
    right: 40%;
    transform: translateX(40%);
    */
}

input[type='button'][id='logout'] {
    background: rgba(255,0,0,0.25);
    border: 2px solid red;
}

input[type='button'][id='logout']:hover {
    background: red;
}

.optionBox {
    border-top: 2px solid black;
    margin: 5px 50px;
    display: flex;
    flex-direction:column;
    color: white;
}

.optionBox > div {
    width: 100%;
    margin: 10px 5px;
    align-items: center;
}

.optionBox > div > label {
    margin-left: 25px;
}

.checkBox {
    float: right;
    margin-right: 25px;
}

.checkBox > input[type='checkbox'] {
    opacity: 0; /* temp fix I hate css I want to die*/
    position: absolute;
    width: 45px;
    height: 20px;
    cursor: pointer;
}

.checkBox > div {
    margin-left: 5px;
    width: 45px;
    height: 20px;
    background: #464655;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    pointer-events: none;
    vertical-align: middle;
}

.checkBox > input[type='checkbox']:disabled ~ div::after {
    opacity: 0.5;
} 

.checkBox > input[type='checkbox']:disabled ~ div {
    background: rgba(0,0,0,0.25);
}

.checkBox > div::after {
    width: 15px;
    height: 15px;
    background: #C81D25;
    position: absolute;
    line-height: 0;
    content: "";
    border-radius: 25px;
    top: 2.5px;
    left: 2.5px;
    transition: 0.5s;
    pointer-events: none;
}

.checkBox > input[type='checkbox']:checked + div::after {
    transform: translateX(25px);
    background: #548C2F;
}

@keyframes coolthing {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.appearanceSettings {
    display: flex;
}

.appearanceSettings, .profileSettings {
    opacity: 1.0 !important;
    transition: 1s;
}

.appearanceSettings > p {
    text-align: center;
    margin: 250px;
    font-size: 32px;
    font-weight: bolder;
}

.optionTitle {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 25px;
}

div[id='passwordChange'] > input[type='button'] {
     float: right;
    margin-right: 25px;
    border:none;
    background: green;
    border-radius: 5px;
    height: 25px;
    color: white;
    font-weight: bold;
    transition: 0.1s;
}

div[id='passwordChange'] > input[type='button']:active {
    background: gray;
}

.changeUsernameModal, .changePasswordModal, .changeEmailModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 50px;
}

.changeUsernameModal, .changeEmailModal {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.changePasswordModal {
    top: 35%;
    left: 50%;
    transform: translate(-50%,-35%);
}

.changeUsernameModal>input, .changePasswordModal>input, .changeEmailModal>input {
    border:none;
    outline:none;
    border-bottom: black 2px solid;
    font-size: 16px;
    font-weight: bold;
} 

.changeUsernameModal>label[id="error"], .changePasswordModal>label[id="error"], .changeEmailModal>label[id="error"] {
    color: red;
}

.userBox {
    position: absolute;
  }

.userBox > input:focus ~ .userBoxLabel, .userBox > input:not(:placeholder-shown) ~ .userBoxLabel {
    top: 0%;
    left: 5%;
    color: burlywood;
    font-size: 10px;
}

.userBox input {
    border: none;
    border-bottom: 2px solid black;
    height: 35px;
    width: 250px;
    font-size: 16px;
    background: rgba(0,0,0,0.45);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:white;
    outline: none;
    padding: 0 10px;
    caret-color: rgba(0,0,0,0.5);
    padding-top: 2.5px;
  }
  
  .userBox > .userBoxLabel {
    font-size: 15px;
    position: absolute;
    margin: auto;
    left:15%;
    top: 40%;
    color: white;
    transform: translate(-15%,-40%);
    pointer-events: none;
    transition: .5s;
    padding: 2.5px 1px;
  }

  .userBox > .userBoxError {
    position: absolute;
    color: #cc0000;
    font-size: 10px;
    bottom: -10%;
    left: 0%;
    margin-left: 10px;
    transform: translate(0%, 10%);
  }

  .userBox > .userBoxError:not(:empty)::before {
    content:"⚠️ "
  }
  
  .serverSettings {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,0.25);
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .pictureSelectorContainer > input[type='file'] {
    display: none;
  }

  .pictureSelectorContainer > img {
    border-radius: 10%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: black 2px solid;
  }