.themeOneText, .themeOneButton, .themeOneTextArea  {
    color: white;
}


/* Subject to change */
.themeOneText > a {
    color: lightskyblue;
}

.themeOneText > a:visited {
    color: darkblue;
}
/* Subject to change */

.themeOneTextUserTime {
    color: #E2DFD2;
}

.themeOneButton, .themeOneTextArea, .themeOneTopMenu, .themeOneActiveBackground {
    background: #6096BA ;
}

.themeOneActive {
    border-color: #6096BA !important;
}

.themeOneDivOne {
    background: #6288A1;
}

.themeOneDivTwo, .themeOneOptionSelectorChild:hover {
    background: #224857;
}

.themeOneDivThree {
    background: #435D6E;
}

.themeOneTextArea::placeholder {
    color: whitesmoke;
}

.themeOneImportant {
    background: red;
}

.themeOneImportantText {
    color: red;
}