.themeOneText, .themeOneButton, .themeOneTextArea  {
    color: white;
}

.themeOneText > a {
    color: #0096FF;
}

.themeOneTextUserTime {
    color: #E2DFD2;
}

.themeOneButton, .themeOneTextArea, .themeOneTopMenu {
    background: #6096BA ;
}

.active.themeOneButton {
    /*background: #6288A1;*/
    background: transparent;
    border: 2px solid #6096BA;
    transition: 0s border;
}

.themeOneDivOne {
    background: #6288A1;
}

.themeOneDivTwo {
    background: #224857;
}

.themeOneDivThree {
    background: #435D6E;
}

.themeOneDivFour {
    background: #6288A1;
}

.themeOneTextArea::placeholder {
    color: whitesmoke;
}

.themeOneImportant {
    background: red;
}

.themeOneImportantText {
    color: red;
}