.wordleContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-family: "Clear Sans","Helvetica Neue",Arial,sans-serif;
}



.wordleGame { /* placeholder */
    margin: auto;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    margin: 25px 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.grid {
    flex-grow: 2;
    flex-shrink: 2;
}

.gridRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gridCube {
    background-color: transparent;
    width: 7.5vh;
    height: 7.5vh;
    margin: 5px;
    perspective: 500px;
}

@keyframes flip {
    100% {
        transform: rotateX(180deg);
    }
}

.gridCubeInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.gridCube.gridCubeSwitch .gridCubeInner {
    animation: flip 0.5s;
    animation-fill-mode: forwards;
}

.cubeOuter {
    background: white;
    color: black;
    border: 2px #86888a solid;
}

.cubeInner {
    transform: rotateX(180deg);
}
.cubeOuter, .cubeInner {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 4vh;
    font-stretch: expanded;
    line-height: 1.25em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cubeWRONGPOS {
    background:#c9b458;
    color: white;
}

.cubeCORRECT {
    background: #6aaa64;
    color: white;
}

.cubeWRONG {
    background: #86888a;
    color: white;
}

.button {
    border: 1px black solid;
    font-weight: bold;
    font-size: 1em;
    min-width: 125px;
    min-height: 25px;
    width: 10vh;
    height: 2.5vh;
    max-height: 50px;
}

.winLose {
    text-align: center;
    height: 35px;
    font-size: 1em;
    word-wrap: break-word;
}