.wordleContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.wordleGame { /* placeholder */
    margin: auto;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.grid {
    flex-grow: 2;
    flex-shrink: 2;
}

.gridRow {
    display: flex;
    flex-direction: row;
}

.gridCube {
    text-transform: uppercase;
    width: 7.5vh;
    height: 7.5vh;
    border: 1px black solid;
    margin: 4px;
    font-weight: bold;
    font-size: 4vh;
    font-stretch: expanded;
    line-height: 1.25em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cubeWRONGPOS {
    background: orange;
    transform: rotateX(360deg);
    transition: 1s transform;
    color: white;
}

.cubeCORRECT {
    background: green;
    transform: rotateX(360deg);
    transition: 1s transform;
    color: white;
}

.cubeWRONG {
    background: red;
    transform: rotateX(360deg);
    transition: 1s transform;
    color: white;
}

.button {
    border: 1px black solid;
    font-weight: bold;
    font-size: 1.25em;
    min-width: 125px;
    min-height: 25px;
    width: 10vh;
    height: 2.5vh;
    max-height: 50px;
}

.winLose {
    text-align: center;
    height: 50px;
    font-size: 1.5em;
}