@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Open+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'IBM Plex Sans' , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;/*Change font later*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

html>body>#root:empty {
  content: "Loading...!";
  text-align: center;
  padding: auto;
}

::-webkit-scrollbar-thumb {
  background: #488286;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 15px 0px;
}

input[type='button'].default {
  /*
  background: #6096BA;
  color: white;
  */
  border: none;
  border-radius: 2px;
  font-weight: bold;
}
input[type='button'].default:hover {
  filter: brightness(85%);
}
input[type='button'].default:active {
  filter: brightness(50%);
  transition: 0.1s filter;
}