.title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}

.snakeContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.snakeGame {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}

.menu {
    display: flex;
    margin: auto;
    height: 25px;
}

.test {
    border: black solid 1px;
    height: calc(55vh - 25px);
    width: 60vw;
    min-width: 450px;
    min-height: 250px;
}